@model Lab5_ED1.Models.Developer

@{
    ViewBag.Title = "Profile";
}

<h2>DeveloperProfile</h2>

<h3><strong>@Html.DisplayFor(model=>model.User)</strong></h3>

<p>You have @Html.DisplayFor(model=>model.Tasks.TasksQuantity) pending tasks</p>

<h4><strong>Your current task information is shown below</strong></h4>

@Html.ActionLink("Change Task", "DeveloperProfile", new { change = 1 })
@Html.ActionLink("Add Task", "")
@Html.ActionLink("Change User", "Login")

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTask.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTask.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTask.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTask.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTask.Proyect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTask.Proyect)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentTask.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTask.DueDate)
        </dd>
    </dl>
